<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat Client</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div id="connecting-overlay" class="glass-overlay connecting-overlay">
      <div class="username-form">
        <h2>Connecting to server...</h2>
      </div>
    </div>
    <div class="logout-container">
      <button id="logout-btn">Logout</button>
    </div>

    <div class="main-container">
      <div id="chat-container">
        <div id="messages"></div>
        <form id="chat-form">
          <input
            type="text"
            id="message-input"
            placeholder="Type a message..."
            autocomplete="off"
          />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>

    <script src="/static/scripts.js"></script>
  </body>
</html>
